/* Common CSS */
.fridge {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  scale: 0.9;
  transition: all 0.6s;
}
.rightDoor {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 10;
  opacity: 1;
  transform-origin: right;
  transition: opacity 0.5s;
}
.leftDoor {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 10px;
}
.fridgeFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 10px;
  z-index: 1;
  opacity: 1;
  transition: all 0.3s;
}
/* Door open swing effect */
.fridge.open {
  display: flex;
  justify-content: flex-start;
  scale: 1;
  transition: all 0.6s;
}
.fridge.open.freezer {
  height: 36%;
}
.fridge.open .rightDoor {
  overflow: hidden;
  transform: rotateY(180deg);
  opacity: 1;
  z-index: 10;
  transform-origin: right;
  transition: all 0.5s;
}
.fridge.open .leftDoor {
  transition: all 0.3s;
}
.fridge.open .fridgeFront {
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}

/* Mobile */
@media (min-width: 280px) {
  .fridge {
    width: 90vw;
    height: 65vw;
    translate: 0 -18%;
  }
  .fridge.freezer {
    height: 40vw;
    translate: 0 -18%;
  }
  /* open effect */
  .fridge.open {
    width: 90vw;
    height: 65%;
    translate: 0 -30px;
  }
}

/* Tablet */
@media (min-width: 640px) {
  .fridge {
    width: 70vw;
    height: 55vw;
    translate: 0 -10%;
  }
  .fridge.freezer {
    height: 35vw;
    translate: 0 -4%;
  }
  .fridge.open {
    width: 70vw;
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .fridge {
    width: 50vw;
    height: 34vw;
    translate: 0 -6%;
  }
  .fridge.freezer {
    height: 20vw;
    translate: 0 2%;
  }
  .fridge.open {
    width: 50vw;
    translate: 0 6%;
    height: 70%;
  }
  .fridge.open.freezer {
    width: 50vw;
    height: 50%;
  }
  .rightDoor {
    transition: all 0.5s;
  }
}
