/* Common CSS */
.fridge {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 4000px;
  transition: all 0.8s;
}
.rightDoor {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 10;
  opacity: 1;
  transform-origin: right;
  transition: all 0.8s;
}
.leftDoor {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 10px;
}
.fridgeFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 10px;
  z-index: 1;
  opacity: 1;
}
/* Door open swing effect */
.fridge.open {
  display: flex;
  justify-content: flex-start;
  scale: 1;
  transition: all 0.6s;
}
.fridge.open.freezer {
  height: 36%;
}
.fridge.open .rightDoor {
  overflow: hidden;
  transform: rotateY(180deg);
  opacity: 1;
  z-index: 10;
  transform-origin: right;
  transition: all 0.8s;
}
.fridge.open .leftDoor {
  transition: all 0.8s;
}
.fridge.open .fridgeFront {
  z-index: 0;
  opacity: 0;
  transition: all 0.8s;
}

/* Mobile */
@media (min-width: 280px) {
  .fridge {
    width: 90vw;
    max-width: 500px;
    height: 65vw;
    max-height: 400px;
  }
  .fridge.freezer {
    height: 40vw;
    max-height: 200px;
  }
  /* open effect */
  .fridge.open {
    width: 90vw;
    height: 65%;
  }
}

/* Tablet */
@media (min-width: 640px) {
  .fridge {
    width: 70vw;
    height: 45vh;
    max-height: 300px;
  }
  .fridge.freezer {
    height: 30vh;
  }
  .fridge.open {
    width: 80vw;
    height: 65vh;
    max-height: 550px;
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .fridge {
    width: 45vw;
    height: 30vw;
  }
  .fridge.freezer {
    height: 18vw;
  }
  .fridge.open {
    width: 60vw;
    max-width: 600px;
    height: 70%;
    max-height: 600px;
    translate: 0 6%;
  }
  .fridge.open.freezer {
    width: 50vw;
    height: 50%;
    max-height: 400px;
  }
}
