.emojiBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.emojiBox > aside {
  z-index: 20 !important;
  position: absolute !important;
  top: 55px;
  --epr-emoji-size: 20px !important;
  --epr-search-input-height: 30px !important;
  --epr-category-navigation-button-size: 20px !important;
  --epr-preview-height: 40px !important;
}

.emojiBox > aside > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px !important;
}

.emojiBox > aside > div:first-child > div:last-child {
  padding: 0 10px !important;
  margin-bottom: 5px;
}

.emojiBox > aside > div:last-child {
  align-items: center;
  gap: 5px;
}

.emojiBox > aside > div:last-child > div > img {
  width: 25px !important;
  height: 25px !important;
}
.emojiBox > aside > div:last-child > div:nth-child(2) {
  padding-top: 3px !important;
}
