.custom_shape {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 67px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom_shape svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
  transform: rotateY(180deg);
}
.custom_shape .shape_fill {
  fill: #ceebfe;
}

.custom_shape.top {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  transform: rotate(0deg);
}
.custom_shape.top svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
  transform: rotateY(-180deg);
}
.custom_shape.top .shape_fill {
  fill: #ceebff;
}
